<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/olympiad.css" />
<title>Olimpiadas de Física</title>
</head>
<body>
{{template "categories" .Categories}}
<nav id="collection">	
<ul>
{{$coll := .Collection}}
{{range .Olympiads}}
<li><a href="/olympiad?collection={{$coll}}&document={{.Year}}">{{.Year}} {{.City}} - {{.Country}}</a></li>
{{end}}
</ul>
</nav>
<article id="document">
	<header>
		<h1>Olimpiada de {{.Document.Year}}, {{.Document.City}}, {{.Document.Country}}</h1>
	</header>
<a href="/data/olympiads/{{.Collection}}/ipho{{.Document.Year}}.pdf">{{.Document.Year}}</a>
<iframe src="http://docs.google.com/gview?url=http://time-chamber.herokuapp.com/data/olympiads/{{.Collection}}/ipho{{.Document.Year}}.pdf"&embedded="true" style="width:800px; height:600px;" frameborder="0">
	Your browser does not support embedded content
</iframe>
</article>
</body>
</html>