<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/olympiad.css" />
<title>Olimpiadas de Física</title>
</head>
<body>
{{template "categories" .Categories}}
<nav id="collection">	
<ul>
{{$coll := .Collection}}
{{range .Olympiads}}
<li><a href="/olympiad?collection={{$coll}}&document={{.Year}}">{{.Year}} {{.City}} - {{.Country}}</a></li>
{{end}}
</ul>
</nav>
<article id="document">
	<header>
		<h1>Olimpiada de {{.Document.Year}}, {{.Document.City}}, {{.Document.Country}}</h1>
	</header>
<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Ftime-chamber.herokuapp.com%2Fdata%2Folympiads%2F{{.Collection}}%2F{{.ExamPrefix}}{{.Document.Year}}.pdf&embedded=true" style="width:800px; height:700px;" frameborder="0">
	Your browser does not support embedded content
</iframe>
</article>
</body>
</html>